{% extends 'base2.html' %}


{% block title %}

Series

{% endblock title %}



{% block content %}

<div class="fluid-container text-center mt-4">
    <div class="container row mt-3">
        <div class="col-2 mt-5">
            <a href="{% url 'movies_prof' %}">
                <p style="font-size: x-large; margin-bottom: 40px;"> Movies </p>
              </a>
              <a href="{% url 'series_prof' %}">
                <p style="font-size: x-large; margin-bottom: 40px;"> Series </p>
              </a>
              <a href="{% url 'genres_prof' %}">
                <p style="font-size: x-large; margin-bottom: 40px;"> Genre </p>
              </a>
              <a href="{% url 'mylist' %}">
                <p style="font-size: x-large; margin-bottom: 40px;"> My List </p>
              </a>  
        </div>
        <div class="col-10">
            <div class="row">
                    {% for series in se %}
                    <div class="col-4">
                        <a href="{% url 'watch' series.id %}"> <img src="{{series.image.url}}" class="img-fluid" style="height: 400px; width: 350px;"></a>
                        <h3>{{series.movie_name}}</h3>
                        <a href="{% url 'mylistmovies'  series.id %}"><p>Add to Mylist</p></a>
                    </div>
                    {% endfor %}
      
            </div>
        </div>
  </div>

{% endblock content %}