{% extends 'base2.html' %}

{% block title %}
Update Profile
{% endblock title %}


{% block content %}

<form method="POST" class="p-4 border rounded shadow-sm bg-light mx-auto mt-3" style="max-width: 1000px; height: 700px; background-color: white; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);">
  {% csrf_token %} 
  <h2 class="text-center mb-4" style="margin-top: 30px;">Update Information</h2>
  <div class="container">
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="FirstName" class="form-label">First Name</label>
              <input type="text" class="form-control" id="FirstName" name="FirstName" value="{{request.user.first_name}}">
          </div>
          <div class="col-md-6 mb-3">
              <label for="LastName" class="form-label">Last Name</label>
              <input type="text" class="form-control" id="LastName" name="LastName" value="{{request.user.last_name}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="birth" class="form-label">Date of Birth:</label>
              <input type="date" class="form-control" id="birth" name="birth" value="{{request.user.user_profile.dob|date:'Y-m-d'}}">
          </div>
          <div class="col-md-6 mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" name="email" value="{{request.user.username}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="password" class="form-label">New Password</label>
              <input type="password" class="form-control" id="password" name="password">
          </div>
          <div class="col-md-6 mb-3">
              <label for="contact" class="form-label">Phone Number</label>
              <input type="tel" class="form-control" id="contact" name="contact" value="{{request.user.user_profile.phone_number}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="city" class="form-label">City</label>
              <input type="text" class="form-control" id="city" name="city" value="{{request.user.user_profile.city}}">
          </div>
          <div class="col-md-6 mb-3">
              <label for="state" class="form-label">State</label>
              <input type="text" class="form-control" id="state" name="state" value="{{request.user.user_profile.state}}">
          </div>
      </div>
      <div class="row">
          <div class="col-md-6 mb-3">
              <label for="pincode" class="form-label">Pincode</label>
              <input type="number" class="form-control" id="pincode" name="pincode" value="{{request.user.user_profile.pincode}}">
          </div>
          <div class="col-md-6 mb-3">
              <label for="genre" class="form-label">Genre Preference</label>
              <input type="text" class="form-control" id="genre" name="genre" value="{{request.user.user_profile.Genre_preference}}">
          </div>
      </div>
      <button type="submit" class="btn btn-primary w-100" style="margin-top: 40px;">Submit</button>
  </div>
</form>

{% endblock content %}

